.FlexSubBox{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
}
.FlexSubBoxDiffSize{
    display: inline;
}